/* html { 
    background: url(assets/image15.jpg) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  } */

  /* .carousel.slide {
      height:400px;
      width: 500px;
  } */
  
.jumbotron {
    background: black;
}

.navbar {
    font-family: 'Open Sans', sans-serif;
}

.row {
    font-family: 'Oswald', sans-serif;
}

  body, html {
      height: 100%;
      /* font-family: 'Courier Prime', monospace;
      font-family: 'Montserrat', sans-serif; */
      /* color: white; */
  }

  body {
      background: url(assets/image15.jpg);
      height: 100%;

      /* Center and scale the image nicely */
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
  }