/* html { 
    background: url(assets/image15.jpg) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  } */

  .carousel-item {
      height: 100%;
      width: 100%;
  }

  .carousel.slide {
      height:400px;
      width: 500px;
  }

  body, html {
    height: 100%;
  }

  body {
      background: url(assets/image15.jpg);
      height: 100%;

      /* Center and scale the image nicely */
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
  }