.background-image {
    background: url(assets/image15.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    min-height: 500px;
    /* Center the background image */
    background-position: center;
    /* Scale the background image to be as large as possible */
    background-size: cover;


  }
  
.jumbotron {
    background: black;
}

.navbar {
    font-family: 'Open Sans', sans-serif;
}

.row {
    font-family: 'Oswald', sans-serif;
}

  body, html {
      height: 100%;
  }

  body {
      background: url(assets/image15.jpg);
      height: 100%;
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
  }

  .carousel-item {
      height: 500px;
  }